<%= simple_form_for crawler, html: { class: "card form" } do |f| %>
  <% if crawler.errors.any? %>
    <div class="error-message">
      <%= crawler.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>


  <%= f.input :keywords, input_html: { autofocus: true } %>

  <%= f.association :drivers, as: :check_boxes,  wrapper: :checkbox  %>

  <%= f.button :submit, class: "btn btn--secondary" %>

<% end %>
