<%= turbo_stream_from "crawlers" %>

<main class="container">
  <div class="header">
    <h1>Crawlers</h1>
    <%= link_to "New Crawler",
                new_crawler_path,
                data: { turbo_frame: dom_id(Crawler.new) },
                class: "btn btn--primary" %>
  </div>

  <%= turbo_frame_tag dom_id(Crawler.new) %>
  <%= turbo_frame_tag "crawlers" do %>
    <%= render Crawler.alphabetical_sync %>
  <% end %>
</main>